* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
div.border {
  margin: 10px;
}

div h2 {
  margin-bottom: 10px;
}

h1,
h2 {
  color: #40a22b;
}

#todo {
  width: 20vw;
}

input:focus {
  outline: 1px solid #003399;
}

label {
  margin-right: 5px;
}

ul {
  list-style-type: none;
}

.done {
  text-decoration: line-through;
  color: grey;
}

#municipalities path {
  position: relative;
  fill: #1e9bd3;
  box-shadow: 1px 1px 1px lightblue;
  stroke: darkblue;
  stroke-width: 0.75px;
}

#municipalities path:hover {
  fill: #f9ea1d;
}

#lakes {
  fill: lightblue;
  stroke: blue;
}

#tooltip-map {
  position: absolute;
  padding: 10px;
  background-color: whitesmoke;
  color: white;
  border-radius: 8px;
  pointer-events: none;
}

.do-not-display {
  display: none;
}

.displayed div {
  font-family: "Courier New", Courier, monospace;
}

#municipalities .area_green {
  position: relative;
  fill: #a3c308;
  box-shadow: 1px 1px 1px lightblue;
  stroke: darkblue;
  stroke-width: 0.75px;
}

.diagram1 {
  margin-top: 50px;
  float: left;
  width: 40%;
}

.diagram2 {
  margin-top: 20px;
  float: right;
  width: 40%;
}

.diagram3 {
  margin-top: 200px;
  width: 40%;
}
